*~
twaattin/src/main/webapp/VAADIN/
out/
target/
test-output/
src/main/generated/
.idea/
*.iml
*.ipr
*.iws
workspace.xml
tasks.xml

*.DS_Store

*.org
*.factorypath
generated/
*.log
Pain_Conversion_History*.*
*.zip
pom.properties
.settings/
.classpath
.project
build/
helaba-cpar-converter/lib/
application.xml
*.versionsBackup
gwt-unitCache/
